<?xml version="1.0"?>
<launch>


  <!-- run MAP controller -->
  <node pkg="map_controller" name="control_node" type="MAP_controller.py" output="screen">
      <rosparam command="load" file="$(find map_controller)/cfg/map_params.yaml"/>
  </node>

  <!-- run time and error tracker -->
  <node pkg="map_controller" name="tracker_node" type="time_error_tracker.py" output="screen"/>


</launch>
